name: Continuous Integration

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, labeled]
  push:
    branches: [main]

# Make sure we're not running multiple release steps at the same time as this can give issues with determining the next npm version to release.
# Ideally we only add this to the 'release' job so it doesn't limit PR runs, but github can't guarantee the job order in that case:
# "When concurrency is specified at the job level, order is not guaranteed for jobs or runs that queue within 5 minutes of each other."
concurrency:
  group: credo-ts-didcomm-${{ github.ref }}-${{ github.repository }}-${{ github.event_name }}-continuous-integration
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  ci-trigger:
    runs-on: ubuntu-22.04
    outputs:
      triggered: ${{ steps.check.outputs.triggered }}
    steps:
      - name: Determine if CI should run
        id: check
        run: |
          if [[ "${{ github.event.action }}" == "labeled" && "${{ github.event.label.name }}" == "ci-test" ]]; then
              export SHOULD_RUN='true'
          elif [[ "${{ github.event.action }}" == "labeled" && "${{ github.event.label.name }}" != "ci-test" ]]; then
              export SHOULD_RUN='false'
          else 
              export SHOULD_RUN='true'
          fi

          echo "SHOULD_RUN: ${SHOULD_RUN}"
          echo "::set-output name=triggered::${SHOULD_RUN}"

  validate:
    runs-on: ubuntu-22.04
    name: Validate
    needs: [ci-trigger]
    if: needs.ci-trigger.outputs.triggered == 'true'
    steps:
      - name: Checkout credo-ts-didcomm-ext
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup node v22
        uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org/'
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      # Ignore scripts so we don't need libindy setup
      - name: Install dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts

      - name: Linting
        run: pnpm lint

      - name: Prettier
        run: pnpm check-format

      - name: Compile
        run: pnpm check-types

  integration-test:
    runs-on: ubuntu-22.04
    name: Integration Tests
    needs: [ci-trigger]
    if: needs.ci-trigger.outputs.triggered == 'true'

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - name: Checkout credo-ts-didcomm-ext
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup node ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://registry.npmjs.org/'
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run tests
        run: pnpm test --coverage

      - uses: codecov/codecov-action@v5
        if: always()
