name: Release

on:
  push:
    branches: ["**"]

# Make sure we're not running multiple release steps at the same time as this can give issues with determining the next npm version to release.
# Ideally we only add this to the 'release' job so it doesn't limit PR runs, but github can't guarantee the job order in that case:
# "When concurrency is specified at the job level, order is not guaranteed for jobs or runs that queue within 5 minutes of each other."
concurrency:
  group: credo-ts-didcomm-${{ github.ref }}-${{ github.repository }}-${{ github.event_name }}-release
  cancel-in-progress: true

permissions:
  id-token: write # required for npm trusted publishing
  contents: write
  pull-requests: write

jobs:
  # Initiate release process if release was created
  release-manual:
    permissions:
      id-token: write # required for npm trusted publishing
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout credo-ts-didcomm-ext
        uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup node v22
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - name: Corepack pnpm
        # OIDC publishing requires a very up to date npm version
        run: |
          npm install -g npm@latest
          corepack enable

      # Ignore scripts so we don't need libindy setup
      - name: Install dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts

      - name: Release to NPM (reactions)
        run: pnpm publish ./packages/reactions --access public --provenance --no-git-checks

      - name: Release to NPM (media-sharing)
        run: pnpm publish ./packages/media-sharing --access public --provenance --no-git-checks

      - name: Release to NPM (user-profile)
        run: pnpm publish ./packages/media-sharing --access public --provenance --no-git-checks